Repository byulhook/DevQuiz, pull requests merged in 2024-09, with the labels that each got.

#8 style: 글로벌 스타일 세팅, 폰크기레이아웃 세팅 (#6)
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  src/styles/GlobalStyles.tsx
  src/styles/theme.ts
  tsconfig.json
  vite.config.ts
Labels: chore, design

#10 [feat] nav & router 구현 (#7)
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/BottomNav.tsx
  src/components/IconWithLabel.tsx
  src/main.tsx
  src/pages/dictionary.tsx
  src/pages/home.tsx
  src/pages/ranking.tsx
  src/pages/user.tsx
  src/routes/router.tsx
  src/styles/GlobalStyles.tsx
Labels: feat

#11 [feat] 로그인 페이지 퍼블리싱
  package.json
  src/App.tsx
  src/assets/github.png
  src/assets/google.png
  src/components/.gitkeep
  src/components/Button.tsx
  src/pages/.gitkeep
  src/pages/Login.tsx
Labels: feat

#9 chore: coderabbit 재설정
  .coderabbit.yaml
  .github/workflows/ai-pr-reviewer.yml
Labels: chore, remove

#26 [design]주관식페이지 UI
  .eslintrc.cjs
  .prettierrc
  src/components/Message/MessageFormSec.tsx
  src/components/Message/MessageInput.tsx
  src/components/Message/SkipButton.tsx
  src/components/SubjectiveQuiz.tsx
  src/routes/router.tsx
Labels: design

#27 [Design]헤더, 네비 홈 화면 퍼블리싱
  src/assets/css3.svg
  src/assets/html5.svg
  src/assets/javascript.svg
  src/assets/logo.png
  src/assets/nav-logo-b.png
  src/assets/nav-logo.png
  src/assets/next.svg
  src/assets/react.svg
  src/assets/typescript.svg
  src/assets/user-default.png
  src/components/BottomNav.tsx
  src/components/FlipCard.tsx
  src/components/Header.tsx
  src/components/IconWithLabel.tsx
  src/components/LeftNav.tsx
  src/components/UserAvatar.tsx
  src/layouts/ContainerLayout.tsx
  src/layouts/RootLayout.tsx
  src/pages/Home.tsx
  src/styles/GlobalStyles.tsx
  src/types/quizCate.ts
Labels: design

#34 [Chore] husky 설정, byul 재설정
  .eslintrc.cjs
  .gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  README.md
  byul.config.json
  byulhook.yml
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/components/Button.tsx
  src/components/Message/MessageArea.tsx
Labels: chore

#37 [Design] 네비 수정 및 헤더 드롭다운 메뉴 추가
  package.json
  pnpm-lock.yaml
  src/components/FlipCard.tsx
  src/components/Header.tsx
  src/components/IconWithLabel.tsx
  src/components/LeftNav.tsx
  src/components/Message/User.tsx
  src/layouts/RootLayout.tsx
  src/pages/Settings.tsx
  src/routes/router.tsx
  src/styles/GlobalStyles.tsx
Labels: design

#39 [feat] 로그인 페이지를 로그인모달로 수정
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
  src/components/Header.tsx
  src/components/LoginModal.tsx
  src/components/UserAvatar.tsx
  src/components/chatbot/ChatBot.tsx
  src/components/chatbot/ChatBotBtn.tsx
  src/components/chatbot/MessageHeader.tsx
  src/components/message/MessageArea.tsx
  src/components/message/MessageBtn.tsx
  src/components/message/MessageForm.tsx
  src/components/message/MessageFormSec.tsx
  src/components/message/MessageInput.tsx
  src/components/message/SkipButton.tsx
  src/components/message/Typing.tsx
  src/components/message/User.tsx
  src/hooks/useUserAuthentication.ts
  src/pages/Login.tsx
  src/routes/router.tsx
Labels: feat, refactor
